---
title: Azure学生订阅注册地址
date: 2022-08-26 08:36:34
tags:
    - azure
categories: 技术教程
---
Azure学生订阅注册地址
<!--more-->
https://azure.microsoft.com/en-us/free/students/

Azure For Students
```
https://signup.azure.com/studentverification?offerType=1
```
Azure For Students Starter
```
https://signup.azure.com/studentverification?offerType=2
```